*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
p,h1,h2 {
  font-size: 2em;
}
body{
  background-color:white;

}
h1{
  font-size: 175px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 50px;
}
li a:nth-child(odd){
 background-color:lightgrey;
 display: block;
 margin-bottom: 5px;
}
a:hover{
  color:red;
}
h2{
  text-align: center;
  width:30%;
  padding:2px;
  margin-left:70%;
  margin-top: 10px;
  background-color: purple;
  border: 2px;
  border-color: solid-black;
 
}

section{
  box-sizing: border-box;
  width:100%;
  height: 200%;
  margin:5px;
  background-color: lightpink;
  width:33.33%;
}

