*{
  box-sizing: border-box;
}
body{
    color:white;
    font-size:16px;
    background-color:#61122f;
    font-family: 'oxygen' ,sans-serif;
    margin:0;
    padding:0;
}
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border:0;
}

#logo-img{
    
    background: url("restaurant-logo_large.png");
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
    
}

.navbar-brand h1{
    font-family: 'Baloo Thambi 2', cursive;
    color: #75cf0d;
    text-transform:uppercase;
    font-weight:bold;
    text-shadow:1px 1px 1px #222;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top:15px;
    margin-left: 8px;
    font-family:  cursive;
}
.navbar-brand p span{
    vertical-align:middle;
}
#nav-list{
    margin-top:10px;
    margin-bottom: 10px white;
}
#nav-list a{
    color:#951C49;
    font-weight: bold;
    text-align: center;
}
#nav-list a:hover{
    background:#E7E7E7;
    text-decoration: underline;
}
#nav-list a span{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}
#phone {
    margin-top: 15px;
}
#phone a{
    text-align: right;
    padding-bottom: 0;
}
.navbar-header button.navbar-toggle, .navbar-herder .icon-bar{
    border: 1px solid #61122f;
    position: center;
}
.navbar-header button.navbar-toggle{
    clear:both;
    
}
/******Base styling******/
 
  
  #section1 {
    position: relative;
    float: top;
    background: 100%;
    
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #section2{
    position: relative;
    float: left;
    background: 100%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #section3{
    position: relative;
    float:left;
    background: 100&;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  /* End Header */
  
}

h2{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
#contents p{
  text-align: center;
 
}
#contents h3{
  position: relative;
  float: top;
  background-color: #000; 
  text-align:  center;
  font-family: oxygen;
  padding: 2px;

}
#home-tiles section{
    background-color: rgba(88, 216, 167, 0.925);
    padding: 8px;
    border:  1px solid #000;
    margin-bottom: 10px;
}

/********** Large devices only **********/


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #section1{
    position:relative;
    float: left;
    background:50%;
    margin-right: 10px;
    margin-left: 20px;
  }
  #section2{
    position:relative;
    float: left;
    background: 50%;
    margin-right: 10px;
  }
  #section3{
    background:100%;
  }
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  

  /* End Header */
}

/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .7em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }
  #header-nav{
    height: 145px;
  }

  #section1 {
    width:100%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #section2{
    width: 100%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #section3{
    width:100%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .7em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

 

/* Desktop view options */



/* Tablet view options */




/* Mobile view options */

